<div class="mdui-m-t-2 mdui-text-center mdui-typo">
    <%- themeConfig.footerInfo %>
</div>

<script src="<%= themeConfig.domain %>/media/js/mdui.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/highlight.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/modify.js"></script>