<nav class="mdui-container mdui-m-t-2 mdui-m-b-2">
    <% if (pagination.prev) { %><a href="<%= pagination.prev %>" mdui-tooltip="{content: '上一页', position: 'right'}"><button class="mdui-btn mdui-btn-icon mdui-btn-dense mdui-color-theme-accent mdui-ripple mdui-m-r-1"><i class="mdui-icon material-icons">arrow_back</i></button></a><% } %>
    <% if (pagination.next) { %><a href="<%= pagination.next %>" mdui-tooltip="{content: '下一页', position: 'left'}" class="mdui-float-right"><button class="mdui-btn mdui-btn-icon mdui-btn-dense mdui-color-theme-accent mdui-ripple mdui-m-l-1"><i class="mdui-icon material-icons">arrow_forward</i></button></a><% } %>
</nav>