<% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>

<section class="mdui-card">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">归档</div>
    </div>
    <div class="mdui-card-content">
        <% years.forEach(function(year) { %>
            <h2 class="mdui-typo-display-1"><%- year %></h2>
            <article class="mdui-list">
                <% posts.forEach(function(post) { %>
                        <%if (post.date.indexOf(year) !== -1) { %>
                            <a href="<%= post.link %>" class="mdui-list-item mdui-list-item-title mdui-ripple"><div class="mdui-list-item-content"><div class="mdui-list-item-title"><%= post.title %></div><div class="mdui-list-item-text mdui-list-item-one-line"><span class="mdui-text-color-theme-text"><%= post.dateFormat %></div></div></a>
                        <% } %>
                <% }); %>
            </article>
        <% }); %>
    </div>
</section>